h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.72px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.benefits-list {
  border: 10px solid #000000;
  /* width: 700px; */

  width: 60vw;
}

.benefits-list-item {
  width: 300px;
  padding: 10px;
}

/*!=====================================*/

.item-card-first {
  width: 150px;
  border: 1px solid teal;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.item-card img {
}

.item-card-second {
  width: 150px;
  border: 1px solid teal;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.card-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 1px solid black;

  margin: 20px auto;
}

.card-img img {
  object-fit: contain;
  height: 100%;
  min-height: 100%;
}
/*!=====================================*/

.benefits-list {
  display: flex;
  /* flex-direction: column; */
  /* align-items: stretch; */
  /* justify-content: center; */
  /* align-content: center; */
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  /* place-content: center center; */

  height: 500px;
  overflow: auto;
}

.benefits-list-item:not(:last-child) {
  border-right: 5px solid tomato;
}

.benefits-list-item-first {
  /* order: 3; */
  /* flex-grow: 1; */
  /* align-self: ;*/

  /* place-self: center center; */
}

.benefits-list-item-second {
  /* order: 1; */
  /* flex-shrink: 0.5; */
  /* flex-basis: 150px; */
  /* align-self: center; */
}

.benefits-list-item-third {
  /* order: 2; */
  /* flex-grow: 1; */
  /* flex-shrink: ; */
  /* flex-basis: ; */
  /* flex */
  /* align-self: ; */
  /* place-self: ; */
  /* justify-self: ; */
  /* align-self: flex-end; */
}

/*!=====================================*/
.online-chat {
  border: 10px solid black;
  height: 700px;
  max-width: 1100px;
  margin: 10px auto;
  display: flex;
}

.chat-contacts {
  width: 300px;
  border: 1px solid tomato;
}

.chat-message-list {
  border: 10px solid teal;
  flex-grow: 1;
}

/*!=====================================*/

/* Для WebKit (Chrome, Edge, Safari, Opera) */
.benefits-list::-webkit-scrollbar {
  width: 25px; /* Ширина вертикального скролу */
  height: 10px; /* Висота горизонтального скролу */
}

/* Фонова частина скролбару */
.benefits-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Світлий фон */
  border-radius: 10px; /* Закруглення */
}

/* Рухома частина (повзунок) */
.benefits-list::-webkit-scrollbar-thumb {
  background: #ef4c4c; /* Колір повзунка */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Додає контраст */
}

/* При наведенні */
.benefits-list::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}
